<h1>Change Password</h1>
<div class="container">
<%= form_for @user, :url => {:action => "updatePassword", :id => @user} do %>
<div class="from-group">
    <%= hidden_field_tag :email%>
 </div>
<br><div class="form-group">
 <label>Current Password:</label>
 <%= password_field_tag :password, params[:oldPassword], class:'form-control' %>
</div>
<div class="form-group">
<label>New Password:</label>
<%= password_field_tag :newPassword, params[:newPassword], class:'form-control' %>
</div>
<div class="form-group">
<label>Confirm New Password:</label>
<%= password_field_tag :confirmPassword, params[:confirmPassword], class:'form-control' %>
</div><br>
<div class="col-sm-10">
    <%= submit_tag "Update Password", class:'btn btn-primary' %>
    </div>
<% end %>
</div>