<h1>Create Post</h1>
<% if @post.errors.any? %>
<ul>
<% @post.errors.full_messages.each do |msg| %>
<li><%= msg %>
<% end %>
</ul>
<% end %>
<%= form_for @post, :url =>{:action => "confirm"} do %>
<div class="container">
<div class="form-group">
    <label for="name">Title</label>
    <%= text_field 'post', 'title', class:'form-control' %>
  </div>
  <div class="form-group">
    <label for="name">Description</label>
    <%= text_field 'post', 'description', class:'form-control' %>
  </div><br>
  <div class="form-group">
   <%= submit_tag "Confirm", class:'btn btn-primary' %>
   <input type="reset" class="btn btn-secondary" name="Clear" value="Clear">
  </div>
</div>
<% end %>
